@model Card

@{ 
    Card card = Model;
}

<li class="card" onclick="javascript:location.href='@card.Url'">
    <header>
        <h2 class="card-title">@card.Title</h2>
        <p class="card-id">#@card.Id</p>
    </header>
    <p class="temp">
        <span class="temp-value">@card.Value?.ToString("0.0")</span>
        <span class="temp-unit">@card.Unit</span>
    </p>
</li>