@model Device

<h1 class="title">Settings</h1>

<form method="post">
    <label>
        Name:
        <input asp-for="Name" />
    </label>
    <label>
        Delay (seconds):
        <input asp-for="DelaySeconds" min="10" max="@(60 * 60)" />
    </label>
@if (User.IsInRole(Role.Admin))
{
    <label>
        Owner:
        <select asp-for="OwnerId" asp-items=ViewBag.Owners>
            <option value="">none</option>
        </select>
    </label>
}
else
{
    <input type="hidden" asp-for="OwnerId" />
}
    <input type="submit" value="Update" />
</form>