body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    padding-bottom: 0px;
    border-bottom: 6px solid seagreen;
    display: inline-block;
    margin: 24px 0 auto;
    transition: border-bottom-color 0.2s ease;
}

    .title:hover {
        border-bottom-color: lightgreen;
    }

ul.cards {
    /* removes bullets and padding */
    list-style: none;
    padding: 0;
    /* for div ordering */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li.card {
    /* position */
    display: inline-block;
    position: relative;
    /* border */
    border: 1px solid darkgreen;
    border-radius: 4px;
    /* sizeing */
    margin: 5px;
}

.card a {
    /* remove underline from links */
    text-decoration: none;
}

.card-main {
    /* background */
    background-color: seagreen;
    transition: background-color 0.25s ease-out;
    /* sizeing */
    padding: 2px 5px;
    width: 300px;
    height: 90px;
}

    .card-main:hover {
        background-color: lightgreen;
        cursor: pointer;
    }

.card-gear {
    /* position */
    position: absolute;
    top: 0;
    right: 0;
    /* background */
    background-color: seagreen;
    transition: background-color 0.25s ease-out;
    /* border */
    border-left: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    border-bottom-left-radius: 4px;
}

    .card-gear:hover {
        background-color: lightgreen;
        cursor: pointer;
    }

.card-title {
    text-align: center;
    margin: 0;
    color: white;
}

.card-id {
    text-align: center;
    margin: 0;
    font-size: 0.7em;
    color: white;
    opacity: 0.5;
}

.temp {
    text-align: center;
    margin: 0;
    font-size: 3em;
    white-space: nowrap;
}

.temp-value {
    color: cornflowerblue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.temp-unit {
    color: white;
    opacity: 0.5;
}

/* forms and input */

.validation-summary-errors ul {
    list-style: none;
    text-align: left;
    padding: 0;
    padding-left: calc(150px + 8px);
}

    .validation-summary-errors ul li {
        display: inline-block;
        text-align: left;
        background-color: rgba(255, 0, 0, 0.2);
        border-left: 4px solid red;
        margin-bottom: 2px;
        padding: 1px 6px;
    }

.form label {
    display: inline-block;
    float: left;
    clear: left;
    margin: 2px 0;
    width: 150px;
    text-align: right;
}

.form input {
    display: inline-block;
    float: left;
    margin: 2px 8px;
}

    .form input[type=submit] {
        clear: both;
        margin-left: calc(150px + 8px);
    }

.form {
    display: block;
    width: 50%;
    margin: 0 auto;
}
